html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; } 

:root {
    --hlavni-barva: #F03000;
}

body {
    margin: 1rem 3rem auto;
    font-family: 'Montserrat', sans-serif;
}

.paticka {
    color: white;
    background-color: rgb(77, 76, 76);
    text-align: center;
    padding: 1em;
}

/* Mobil */
@media screen and (max-width: 420px){
    body {
        margin: 1rem;
    }
}


/* Tablet */
@media screen and (min-width: 480px) {
    body {
        margin: 2rem 1rem auto;
    }  
}

