html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; } 

.nadpis-sekce {
    font-weight: 700;
    font-size: 1rem;
}

.lastminute{
    display: grid;
    grid-template-columns: 1, auto ;
    grid-template-rows: 300px 150px 150px;
    gap: 10px;
    margin: 30px 10px 30px 0px;
    color: var(--barva-textu);
    
}

.lastminute__zajezd1 {
    background-image: url(podklady/lodicka.jpg);
}

.lastminute__zajezd2 {
    background-image: url(podklady/podkova.jpg);
}

.lastminute__zajezd3 {
    background-image: url(podklady/zatoka.jpg);
}

.lastminute__zajezd1,
.lastminute__zajezd2,
.lastminute__zajezd3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.lastminute__zajezd1--cena,
.lastminute__zajezd2--cena,
.lastminute__zajezd3--cena {
    font-size: 1rem;
    color: var(--barva-textu);
    background-color: var(--hlavni-barva);
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 6px;
}

.lastminute__zajezd1--text {
        position: absolute;
        left: 20px;
        bottom: 10px;
    }

    .lastminute__zajezd2--text,
    .lastminute__zajezd3--text {
        position: absolute;
        left: 20px;
        bottom: 10px;
        font-size: 0.8rem;;
    }

    .lastminute__zajezd1--text p {
        font-size: 0.7rem;
        padding-right: 5px;
    }



@media screen and (min-width: 420px){
    .lastminute {
        grid-template-columns: 50% 50% ;
        grid-template-rows: 400px 200px;
    }

    .lastminute__zajezd1 {
        grid-column-start: span 2;
    }

    .lastminute__zajezd2 {
        grid-column: 1/2;
    }

    .lastminute__zajezd3 {
        grid-column: 2/2;
    }

    .lastminute__zajezd1--text {
        position: absolute;
        left: 20px;
        bottom: 10px;
    }
    
    .lastminute__zajezd2--text,
    .lastminute__zajezd3--text {
        position: absolute;
        left: 20px;
        bottom: 10px;
        font-size: 0.8rem;;
    }
    
}

@media screen and (min-width: 640px){
    .lastminute {
        grid-template-columns: 33% 67%;
        grid-template-rows: 200px 200px;
    }

    .lastminute__zajezd1 {
        grid-column: 2/span 2;
        grid-row: 1/span 2
    }

    .lastminute__zajezd2 {
        grid-column: 1;
        grid-row: 1;
    }

    .lastminute__zajezd3 {
        grid-column: 1;
        grid-row: 2;
    }


}