html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; } 

.lastminute{
    display: flex;
    justify-content: space-between;
    color:white;

}

.lastminute__zajezd1 {
    background-image: url(podklady/palmy.jpg);
}

.lastminute__zajezd2 {
    background-image: url(podklady/jezero.jpg);
}

.lastminute__zajezd3 {
    background-image: url(podklady/nakole.jpg);
}

.lastminute__zajezd1,
.lastminute__zajezd2,
.lastminute__zajezd3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.lastminute__zajezd1--cena,
.lastminute__zajezd2--cena,
.lastminute__zajezd3--cena {
    font-size: 1rem;
    color: white;
    background-color: var(--hlavni-barva);
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 6px;
}


/* Mobil */
@media screen and (max-width: 420px){
    .lastminute {
        flex-direction: column;
        justify-content: space-between;
    }

    .lastminute__zajezd1 {
        height: 240px;
        width: auto;
        margin: 10px 0;

    }

    .lastminute__zajezd2,
    .lastminute__zajezd3 {
        height: 160px;
        width: auto;
        margin: 10px 0;
    }

    .lastminute__zajezd1--text {
        position: absolute;
        left: 20px;
        bottom: 10px;
    }

    .lastminute__zajezd2--text,
    .lastminute__zajezd3--text {
        position: absolute;
        left: 20px;
        bottom: 10px;
        font-size: 0.8rem;;
    }

    .lastminute__zajezd1--text p {
        font-size: 0.7rem;
        padding-right: 5px;
    }

}

/* Tablet */
@media screen and (max-width: 640px){


}