html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; } 

.nabidka-sluzeb {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 150px);
    gap: 10px;
}

.nabidka-sluzeb__obsah {
    display: flex;
    background-color: rgb(226, 225, 225);
    justify-content: space-around;
    flex-direction: row;
    padding: 10px;
    margin: 10px 0;
}

.nabidka-sluzeb__obsah--text {
    padding: 10px;
}

.nabidka-sluzeb__obsah--text h3 {
    color: var(--hlavni-barva);
    font-size: 16px;
    text-align: left;
}

.nabidka-sluzeb__obsah--text p {
    text-align: left;
    font-size: 14px;
}

.nabidka-sluzeb__obsah img {
    padding: 10px;
    width: 90px;
    height: auto;
}


@media screen and (min-width: 420px) {
    .nabidka-sluzeb {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        height: auto;
        margin: 30px 20px 30px 0px;
    }
}

@media screen and (min-width: 640px) {
    .nabidka-sluzeb {
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: 1fr;
        gap: 10px;
        height: auto;
    }    
}