html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

.novinky {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    font-size: 12px;
    gap: 10px;
    margin-top: 30px;
}

.novinky__novinka {
    background-color: var(--barva_novinky_pozadi);
    padding: 20px 10px;
}

.novinky__novinka--datum {
    color: var(--barva_novinky_datum);
    padding-bottom: 5px;
}

.novinky__novinka--nadpis {
    color: var(--hlavni-barva);
    padding-bottom: 5px;
}

@media screen and (min-width: 640px) {
    .novinky {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
}