html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; } 

.zajezdy{
    color: var(--barva-textu);
    display: grid;
    grid-template-columns: 1, auto ;
    grid-template-rows: 300px 150px 150px;
    gap: 10px;
    margin: 30px 0px;
}

.zajezdy__zajezd1 {
    background-image: url(podklady/palmy.jpg);
}

.zajezdy__zajezd2 {
    background-image: url(podklady/jezero.jpg);
}

.zajezdy__zajezd3 {
    background-image: url(podklady/nakole.jpg);
}

.zajezdy__zajezd1,
.zajezdy__zajezd2,
.zajezdy__zajezd3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.zajezdy__zajezd1--cena,
.zajezdy__zajezd2--cena,
.zajezdy__zajezd3--cena {
    font-size: 1rem;
    color: var(--barva-textu);
    background-color: var(--hlavni-barva);
    position: absolute;
    left: 20px;
    top: 20px;
    padding: 6px;
}

.zajezdy__zajezd1--text {
    position: absolute;
    left: 20px;
    bottom: 10px;
}

.zajezdy__zajezd2--text,
.zajezdy__zajezd3--text {
    position: absolute;
    left: 20px;
    bottom: 10px;
    font-size: 0.8rem;;
}

.zajezdy__zajezd1--text p {
    font-size: 0.7rem;
    padding-right: 5px;
}


@media screen and (min-width: 420px) {
    .zajezdy {
        grid-template-columns: 50% 50% ;
        grid-template-rows: 360px 200px;
    }

    .zajezdy__zajezd1 {
        grid-column-start: span 2;
    }

    .zajezdy__zajezd2 {
        grid-column: 1/2;
    }

    .zajezdy__zajezd3 {
        grid-column: 2/2;
    }

    .zajezdy__zajezd1--text {
        position: absolute;
        left: 20px;
        bottom: 10px;
    }
    
    .zajezdy__zajezd2--text,
    .zajezdy__zajezd3--text {
        position: absolute;
        left: 20px;
        bottom: 10px;
        font-size: 0.8rem;;
    }
}

@media screen and (min-width: 640px) {
    .zajezdy {
        grid-template-columns: 67% 33%;
        grid-template-rows: 200px 200px;
    }

    .zajezdy__zajezd1 {
        grid-column: 1/span 1;
        grid-row: 1/span 2
    }

    .zajezdy__zajezd2 {
        grid-column: 2;
        grid-row: 1;
    }

    .zajezdy__zajezd3 {
        grid-column: 2;
        grid-row: 2;
    }
}